<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required id="email" name="useremail"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required name="userpsw"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block"
          >Sign In</ion-button
        >
        <ion-button (click)="btnClicked()">Click me !</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text"
          >Forgot Password?</a
        >
        <ion-input type="text" id="userid" name="userid">123456890</ion-input>
      </ion-col>
    </ion-row>

    <script>
      const inline = 1;
      function onlyheroes() {
        alert("only heroes");
      }
    </script>
    <input type="button" value="Login 123" onclick="onlyheroes();" />

  </form>
</ion-content>
